@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:100px;">@Html.DisplayNameFor(m => m.ProductId)</th>
            <th style="width:100px;">@Html.DisplayNameFor(m => m.Image)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th style="width:100px;">@Html.DisplayNameFor(m => m.Price)</th>
            <th style="width:100px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td><img src="~/img/@product.Image" class="img-fluid"></td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Price</td>
                <td>
                    <a class="btn btn-sm btn-primary">Edit</a>
                    <a class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>